---
---

<div
  id="image-modal"
  class="fixed inset-0 z-50 hidden items-center justify-center bg-black bg-opacity-50"
>
  <div class="relative rounded-lg bg-white p-4">
    <button
      id="modal-close-btn"
      class="absolute -top-4 -right-4 size-8 rounded-full bg-white text-black"
      >&times;</button
    >
    <img id="modal-image" src="" alt="QR Code" class="max-w-xs" />
  </div>
</div>

<style>
  #modal-close-btn {
    font-size: 1.5rem;
    line-height: 2rem;
    border: 1px solid #ccc;
  }
</style>
