---
export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li class:list={["inline-block", size === "sm" ? "m-1" : "m-2"]}>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "tag-text block rounded-md bg-muted px-3 py-1 transition hover:bg-accent hover:text-background focus-visible:outline focus-visible:outline-2 focus-visible:outline-accent dark:text-foreground",
      { "text-sm": size === "sm" },
      { "text-base": size === "lg" },
    ]}
  >
    {tagName}
  </a>
</li>
